@model DTO.Model.Ferry

@{
    ViewBag.Title = "Details";
}

<h2>Ferry Details</h2>

<div>
    <h4>Ferry ID: @Model.FerryID</h4>
    @Html.LabelFor(model => model.Name)
    @Html.DisplayFor(model => model.Name)
    <br />
    @Html.LabelFor(model => model.MaxNumberOfCars)
    @Html.DisplayFor(model => model.MaxNumberOfCars)
    <br />
    @Html.LabelFor(model => model.MaxNumberOfPassengers)
    @Html.DisplayFor(model => model.MaxNumberOfPassengers)
    <br />
    @Html.LabelFor(model => model.PricePassengers)
    @Html.DisplayFor(model => model.PricePassengers)
    <br />
    @Html.LabelFor(model => model.PriceCars)
    @Html.DisplayFor(model => model.PriceCars)
    <br />
</div>

<h4>Gæster på færge</h4>

<ul>
    @foreach (var passenger in ViewBag.Passengers)
    {
        <li>@passenger.Name - @passenger.Age - ID: @passenger.PassengerID</li>
    }
</ul>

<div>
    <h4>Tilføj ny passager</h4>
    @using (Html.BeginForm("AddNewPassenger", "Ferry", FormMethod.Post))
    {
        <input type="hidden" name="id" value="@Model.FerryID" />

        <div>
            <label for="Name">Name:</label>
            <input type="text" name="Name" />
        </div>
        <div>
            <label for="Gender">Gender:</label>
            <input type="text" name="Gender" />
        </div>
        <div>
            <label for="Age">Age:</label>
            <input type="text" name="Age" />
        </div>
        <div>
            <label for="Birthday">Birthday:</label>
            <input type="date" name="Birthday" id="Birthday" />
        </div>
        <button type="submit" class="btn btn-primary">Tilføj passager</button>
    }
    </div>

<br/>

<div>
    <h4>Tilføj ny bil</h4>
    @using (Html.BeginForm("AddNewCar", "Ferry", FormMethod.Post))
    {
        <input type="hidden" name="id" value="@Model.FerryID" />

        <div>
            <label for="Name">Name:</label>
            <input type="text" name="Name" />
        </div>
        <div>
            <label for="Model">Model:</label>
            <input type="text" name="Model" />
        </div>
        <div>
            <label for="Nummerplade">Nummerplade:</label>
            <input type="text" name="Nummerplade" />
        </div>
        <button type="submit" class="btn btn-primary">Tilføj bil</button>
    }
</div>

        <p>
            @Html.ActionLink("Tilbage til oversigten", "Index", FormMethod.Get)
            @Html.ActionLink("Edit", "Edit", new { id = Model.FerryID }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.FerryID })
        </p>
