@model DTO.Model.Car

@{
    ViewBag.Title = "Add Car";
}

<h2>Add Car</h2>

@using (Html.BeginForm("AddCar", "Car", new { ferryId = ViewBag.Ferry.FerryID }, FormMethod.Post))
{
    <div>
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)
    </div>
    <div>
        @Html.LabelFor(model => model.Model)
        @Html.EditorFor(model => model.Model)
    </div>
    <div>
        @Html.LabelFor(model => model.LicensePlate)
        @Html.EditorFor(model => model.LicensePlate)
    </div>
    <button type="submit">Add Car</button>
}